body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
} 

/* Header */ 

header {
  background-color:#133B70;
  color: #fff;
  padding: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  margin-right: auto;
  padding-left: 5px;
}

nav .logo img {
  width: 500px; 
  height: auto; 
}

.nav-links {
  list-style: none;
  display: flex;
  padding-left: 0px;
  margin-right: -150px;
}

.nav-links li {
  margin-left: 20px;
  font-size: 30px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}  

.nav-links a:hover{
  text-decoration: underline;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn{
  font-size: 25px;
  font-weight: 800;
  color:#f1f1f1;
  border: 3px solid #f1f1f1;
  border-radius: 16px;
  background-color: #133B70;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 22px;
  min-width: 345px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}    

/* Inner Banner */ 

.bannerImg{
  padding-right: 0%;
  height: 266.508;
  width: 1855;
  object-fit:length;
}

/* Content */ 

.container1 {
  position: relative;
}

.image-container img {
  display: block;
  width: 61%;
  height: auto;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

input[type="text"] {
  width: 400px;
  height: 40px;
  border: 3px solid rgb(206, 202, 202);
  border-radius: 12px;
  background-color: #fefefe;
  font-size: 22px;
  padding-left: 5%;
}

.form-group2{
  display: inline-block;
}

.search-button{
  width: 125px;
  height: 60px;
  font-size: 20px;
  margin-right:150px;
  color: white;
  border: 2px solid #FB8500;
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
  border-radius: 30px;
  text-align: center;
  background-size: 200% auto; 
}

.reset-button{
  width: 125px;
  height: 60px;
  font-size: 20px;
  margin-right:150px;
  color: white;
  border-style: hidden;
  background-image: linear-gradient(to right, #000000 0%, #a19f9d  51%, #ffffff  100%);
  border-radius: 30px;
  text-align: center;
  background-size: 200% auto; 
}

.form-group label {
  display: inline-flex;
  align-items: center;
  margin-left: 0px;
}

/* Contact */
#contact {
  padding: 0.1% 35% 0.3% 3%;
  text-align:left;
  background-color: #133B70;
  color: #fefefe;
}

#contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Footer */

footer {
  background-color:#031e43;
  color: #fff;
  padding: 1% 35% 1% 0%;
}

.ftr li{
  list-style-type: none; 
  text-align: left;
  padding-left: 0%;
  display: inline;
  word-spacing: 5px;
  font-size: 18px;
}

.ftr a{
  text-decoration: none;
  color: #fefefe;
}
  


