.has-feedback{position:relative}.has-feedback .form-control{padding-right:42.5px}.form-control-feedback{position:absolute;top:-6px;right:0;z-index:2;display:block;width:34px;height:34px;line-height:34px;text-align:center;pointer-events:none}.form-group-lg .form-control+.form-control-feedback,.input-group-lg+.form-control-feedback,.input-lg+.form-control-feedback{width:46px;height:46px;line-height:46px}.form-group-sm .form-control+.form-control-feedback,.input-group-sm+.form-control-feedback,.input-sm+.form-control-feedback{width:30px;height:30px;line-height:30px}.has-success .checkbox,.has-success .checkbox-inline,.has-success .control-label,.has-success .help-block,.has-success .radio,.has-success .radio-inline,.has-success.checkbox label,.has-success.checkbox-inline label,.has-success.radio label,.has-success.radio-inline label{color:#3c763d}.has-success .form-control{border-color:#3c763d;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-success .form-control:focus{border-color:#2b542c;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168}.has-success .input-group-addon{color:#3c763d;background-color:#dff0d8;border-color:#3c763d}.has-success .form-control-feedback{color:#3c763d}.has-warning .checkbox,.has-warning .checkbox-inline,.has-warning .control-label,.has-warning .help-block,.has-warning .radio,.has-warning .radio-inline,.has-warning.checkbox label,.has-warning.checkbox-inline label,.has-warning.radio label,.has-warning.radio-inline label{color:#8a6d3b}.has-warning .form-control{border-color:#8a6d3b;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-warning .form-control:focus{border-color:#66512c;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b}.has-warning .input-group-addon{color:#8a6d3b;background-color:#fcf8e3;border-color:#8a6d3b}.has-warning .form-control-feedback{color:#8a6d3b}.has-error .checkbox,.has-error .checkbox-inline,.has-error .control-label,.has-error .help-block,.has-error .radio,.has-error .radio-inline,.has-error.checkbox label,.has-error.checkbox-inline label,.has-error.radio label,.has-error.radio-inline label{color:#ff0050}.has-error .form-control{border-color:#ff0050;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-error .form-control:focus{border-color:#843534;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483}.has-error .input-group-addon{color:#ff0050;background-color:#f2dede;border-color:#ff0050}.has-error .form-control-feedback{color:#ff0050}.has-feedback label~.form-control-feedback{top:18px}.has-feedback label.sr-only~.form-control-feedback{top:0}.help-block{display:block;margin-top:5px;margin-bottom:10px;color:#737373}
.has-error .form-control-feedback, .has-success .form-control-feedback {display: none !important;}
.has-error .chosen-container{box-shadow: 0 0 10px #f9170b; border-radius: 5px;}
/*.has-success .chosen-container {box-shadow: 0 0 10px #3c763d; border-radius: 5px;}*/
.list-action .btn-export { padding: 0px; background: transparent; border: none; }
.list-action img { height: 28px; }
.listdataTable thead tr th { vertical-align: top; }
#listdataTable .btn-clear { font-size: 10px; padding: 0px 5px; }
.multijson-table tbody tr td { vertical-align: top; }
.multijson-table .col-md-12 { padding-left: 0px; padding-right: 0px; }
.multijson-table thead tr th { background: #5CB85C; color: #fff; vertical-align: middle !important; }
ul.errors { padding-left: 20px; margin-bottom: 0px; }
.alert-err li { margin-left: 15px; }
#captchatext { padding-right: 0px; }

.list-panel {
  /*background: #e9ecef;*/
  border-radius: 5px;
  /*border: 1px solid #ddd;*/
  padding: 10px;
}
.rectitle {
  margin-top: 5px;
}
.list-action {
  background:#e9ecef;
  padding: 8px;
  border-radius: 5px;
}
.list-add {
  padding-left: 0px;
}
.signpages {
  width: 60% !important;
}
.horizontalmenu {
  background: url("../img/pngs/bg.jpg") no-repeat;
  background-size: cover;
}
.horizontalmenu-inner {
  background: #fff;
}
.main-header {
  box-shadow: none;
}
/*.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}*/
.table th:last-child, .table td:last-child {
  padding: 10px !important;
}
.btn-group-sm > .btn, .btn-sm {
  border-radius: 8px !important;
}
#frmedit .has-feedback label ~ .form-control-feedback {
  top: 22px !important;
}
.tab-pane {
  padding: 15px 15px 0px 15px;
  border: 1px solid #ddd;
  margin-left: 0px;
  margin-top: -1px;
  margin-bottom: 15px;
}
.form-control {
  color: #000;
}
#frmlist .table-responsive {
  min-height: 450px;
}
.file_err {
  float: right;
  margin-left: 20px;
  font-weight: 500;
  color: #133b70;
}
.uploaded-image-file {
  height: 100px;
}
.bootstrap-tagsinput {
	width: 100%;
	height: 50px;
}
.tag.label.label-info {
  background: #269c8e;
}
.main-navbar .nav-sub {
  width: 250px;
}
.user-roles ul, .user-roles li {
  list-style: none;
}
.user-roles-main {
  padding-left: 0px;
}
.access-divider {
  margin: 0px 0px 5px 0px;
  background: #65dcce;
  color: #65dcce;
  height: 1px;
  width: 350px;
}
.main-access {
  background: #214fbe;
  color: #fff;
  padding: 0px 10px;
  border-radius: 5px;
}
ul.errors { margin: 0px; }

/* nwmm */
.main-navbar .nav-link.with-sub::after { color: #fff; }
.main-logo img { width: 80%; padding: 0px 10px; }
.sign1 .card {background: radial-gradient(100% 100% at 50% -10%, #2a5fa5 0%, #133b70 49.27%, #082449 100%); color: #fff; border: 1px solid #133b70; }
.sign1 .card a {color: #fff; }
.sign1 .card a:hover {color: #ff6131; } 
.main-header.horizontal-header {border: #fff; margin-bottom: 16px; }
.main-header.horizontal-header .container-fluid {background: #fff; height: 80px; }
.main-navbar { background: #133b70; }
.main-navbar.hor-menu .nav-item.active .nav-link, .main-navbar.hor-menu .nav-item:hover .nav-link, .main-navbar.hor-menu .nav-item.show .nav-link {background: #215395; }
.error{color:red;}
.view-field { background: #efefef; padding: 15px; border-radius: 5px; min-height: 51px; }
.div-email-select { position: absolute; top: 0px; left: 100px; }
.artical-table tbody tr th, .artical-table tbody tr td { padding: 10px; }
.header-brand-img.text-left.mb-5.desktop-logo { margin: 0px auto; }
.form-group small {font-size: 12px; background: #dd2323; color: #fff !important; padding: 2px 10px; bottom: -28px; left: 5px; border-radius: 5px; }
@media (min-width: 640px) {
  .main-logo {display: none; }
  .responsive-logo { text-align: center; }
}
@media (max-width: 992px) {
  .container-fluid { padding: 5px !important; }
  main .container-fluid { margin-top: 50px; }
}

/* Start Admin Approve Process CSS */

.chosen-container-single{ width: 100% !important; }
.aprvRecognition { padding: 25px 0; }
.aprvRecognition .btns:hover { background: #133b70; color: #fff; }
.aprvRecognition .btns.active { background: #133b70; }
.aprvRecognition .btns { opacity: 1; border-radius: 0.25rem; color: #9b9b9b; font-size: 0.875rem; line-height: 1.5; padding: 5px 8px; width: auto; display: inline-block; cursor: pointer; border: 1px solid #dddddd; }
.history .comments { margin: 5px 10px 30px 10px; border: 1px solid #ddd; padding: 10px; max-width: calc(100% - 20px) !important; box-shadow: 0px 0px 10px 5px #ddd; background: #fff9f0; }
.row { display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; }
.communication .block { float: left; margin-right: 15px; }
.subTab h4 { color: #555; font-size: 18px; background: transparent; border: 0; padding: 0 0 10px; font-weight: 600; border-bottom: 1px solid #eee; border-radius: 0; }
.status_date .block { float: right; margin-left: 15px; }
.history_status { border-left: 1px solid #a4a4a4; padding-left: 15px; }
.history_status span { font-weight: 900; color: #4585ff; }
.aprvRecognition .btn { background-color: #214fbe; border-color: #214fbe; opacity: 1; border-radius: 0.25rem; color: #ffffff; margin: 0 2px; }
.aprvRecognition .view-field { background-color: transparent; border: 1px solid #ccc; min-height: 40px; padding: 10px; }
.aprvRecognition .tab-content>.tab-pane { padding: 15px; }

/* End Approve Process CSS */

/* start admin dashboard css */

.page.Dashboard { background: #efefef; }
/* .chart-box, .table-box { text-align: center; }
.chart-box h2, .table-box h2 { background: #fff; border-radius: 15px; font-size: 18px; padding: 5px; }
.chart-box > div { background: #fff; border-radius: 15px; padding: 10px; }
#listdataTable tr th { background: rgb(208, 239, 109); }
#listdataTable tr td { background: rgb(249, 255, 230); } */

.inforideOut{width:100%;float:left;}

.fontsty {
 padding:0px 40px;
display:flex;
justify-content:space-between;
align-items: center;
width:100%;
}

.fontsty h2{
  color: #000;
  font-size: 20px;
  margin-top: 15px;
  text-align: right;
 
}
.fontyOne{margin-left:20px!important;}
.fontsty h4{
  color: #000;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
 min-height:50px;line-height:20px;
}
.infoTitle {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
.inforide {
  box-shadow: 1px 2px 8px 0px #3c4858;
	cursor:pointer;
	
    background-image: linear-gradient(to right, rgb(114, 180, 22) , rgb(208, 239, 109));
    /*linear-gradient(to right, #6eb9d8 , #02516f);*/
  border-radius: 8px;
  height: 125px;
 display:flex
}
.inforide:hover .fontsty{transform: scale(1.1);transition:all 0.5s linear;}
.fontsty h2 { background: linear-gradient(to right, rgb(75, 192, 192) , rgb(54, 162, 235)); padding: 0px 10px; color: #fff; border-radius: 5px; }

#listdataTable tr th { background: rgb(208, 239, 109); }
#listdataTable tr td { background: rgb(249, 255, 230); }


/* .admin-card-box {background: #eee; padding: 20px; border-radius: 10px; margin-bottom:20px;}
.admin-card-icon {padding-right: 10px; margin-right: 10px; border-radius: 70px; width: 70px; height: 70px; text-align: center; line-height: 25px; font-size: 20px; flex: none; color: #555; opacity: 0.6;}
.admin-card-box h2 {line-height: 1; font-size: 22px; margin-bottom: 7px; }
.admin-card-box .text-4 {font-size: 16px; color: #323232; font-weight: 500; width: 95%; line-height: 22px; margin-bottom: 10px; }
.adminContnet { display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;}
.adminContnet:after{content: ""; width: 4px; height: 75px; border-radius: 15px; display: block; position: absolute; top: 6px; left:15px;}
.admin-card {background: #fff; padding: 20px 30px; margin-bottom: 35px; border-radius: 20px; height: 100%;}
.adminContnet.violetBg:after{background: #8e6cbf;}
.adminContnet.greenBg:after{background: #1d9c54;}
.adminContnet.redBg:after{background: #f5513d;}
.adminContnet.purpleBg:after{background: #6572f1;}
.adminContnet.lightBlueBg:after{background: #2eb0bc;} */

/* end admin dashboard css */